* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins, sans-serif;
  background-color: #E5E5E5;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.container {
  margin-top: 30px;
  width:550px ;
  height: 869px;
  background-color: white;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
nav {
  height: 70px;
  border-bottom: 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
nav > img {
  padding: 20px 30px;
}

.hero {
  padding: 30px;
}
.hero > img {
  width: 396px;
  display: block;
  margin: 0 auto;
}

.hero > h3 {
  font-size: 36px;
  font-weight: 600px;
  margin-bottom: 0;
}

.hero > p {
  margin-top: 10px;
  width: 320px;
  font-size: 16px;
  font-weight: light;
}